{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrammaChrome</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'grammachrome.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/loader.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/popup.css'%}">
    <script type="text/javascript" src="{% static 'languages/languages.js' %}"></script>
</head>
<body>
    <div class="header"><span id="sp_header" class="langspan"></span></div>

    <a href="https://alem.hypotheses.org/outils-alem-app/grammachrome" target="_blank"><img src="{% static 'im/logo_grammachrome.png'%}" width="40%" class="langtitle" id="ti_titre"></a>
    <!--<h1>GrammaChrome</h1>-->
    <h2 id="subtitle"><span id="sp_subtitle" class="contours langspan"></span></h2>

    <div class="choixLang">
        <select id="choixLang" onchange="selectLang(this.value)" style="height: 35px;">
            <option value="fr">Français</option>
            <option value="en">English</option>
            <option value="zh">中文</option>
            <option value="jp">日本語</option>
        </select>
    </div>

    <!-- <div class="alert alert-primary alert-dismissible fade show m-2 mx-5" role="alert">
        <strong>Merci d'utiliser les applications ALeM !</strong> Nous souhaiterions mieux vous connaître avec ce petit questionnaire : <a href="https://framaforms.org/applications-alem-partages-dexperience-dutilisation-1664822681" target="_blank">Je réponds !</a><br>
        Nous organisons un café virtuel mercredi 12 octobre de 16h à 17h (heure française) pour se rencontrer et échanger sur les différentes utilisations des outils ALeM. Nous vous attendons nombreux⋅ses ! (Plus d'infos dans le questionnaire)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->

    <div class="inputDiv">
        <h2><span id="sp_consigne" class="langspan"></span></h2>
        <div class="param">
            <button onclick="getExample()"><span id="sp_exemple" class="langspan"></span></button>
        </div>
        <textarea class="inText" id="inText"></textarea>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed myAccordion-btn langtitle" id="ti_btnCustom" style="border-radius: 50%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill me-2" viewBox="0 0 16 16"><path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/></svg>
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="langspan" id="sp_customExplain"></p>
                        <span class="langspan" id="sp_customColBase"></span> <input type="color" id="colorPicker-Base" value="#555753" class="colorSetting" onchange="setCol('col_base',this.value)">
                        
                        <!-- TABLES DES PARAMÈTRES -->
                        <small><div id="posTable"></div></small>
                        
                        <small><i>(*vous pourrez bientôt enregistrer et partager vos préférences de colorisation.)</i></small><br/>
                        <small><i>(*n'hésitez pas à nous faire remonter vos besoins et suggestions pour GrammaChrome! <a href="mailto:contact@alem-app.fr">nous contacter</a>)</i></small>
                    </div> <!-- end accordion body -->
                </div>
            </div>
          </div>


        <button style="background-color: rgb(179, 247, 179);" onclick="runSpacy()"><span id="sp_analyser" class="langspan"></span></button>
        <button style="background-color: rgb(221, 221, 221);" onclick="erase()"><span id="sp_effacer" class="langspan"></span></button>
    </div>

    <div id="outputDiv" class="win-black outputMainDiv">
        <h2><span id="sp_resultat" class="langspan"></span></h2>
        <div class="outputParam">
            <div class="btnzi langtitle" id="ti_btnCouleurFond" onclick="bg2white()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15V1a7 7 0 1 1 0 14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
                </svg>
            </div>
            <div class="btntags langtitle" id="ti_btnCopierColler" onclick="getPopUp()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
            </div>
            <div class="btntags langtitle" id="ti_btntags" onclick="switchTags()">
                <svg viewBox="0 0 16 16" class="bi bi-tag btnzi" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                    <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                </svg>
            </div>
            <!-- <div id="ti_btnkana" onclick="">
                <img src="{% static 'im/btn-kana.png' %}" class="btnzi">
            </div> -->
            <div id="ti_btnwordspace" class="langtitle" onclick="togglewordspace()">
                <img id="imgzhtokenspace" src="{% static 'im/zhtokenspaceblack.png' %}" class="btnzi">
            </div>
            
        </div>
        <center><div id="loader" class="loader" style="display: none;"></div></center>
        <div id="outText" class="outText outputBold"></div>
    </div>

    <div class="divInfo">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        <span id="sp_info" class="langspan"></span>
    </div>


    <!-- Modal PopUp qui apparaît pour copier coller le texte -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header" style="display: inline-block;">
            <span class="close">&times;</span>
            <h2>Copier/coller le résultat</h2>
        </div>
        <div class="modal-body">
            <p>Copier/coller le texte ci-dessous dans LibreOffice, Word ou dans un e-mail, par exemple.</p>
            <div id="pLienDiv" contenteditable="true" class="pLienDiv" style="background-color: #000000;"></div>
            <textarea id="pLienDivCode" style="display: none; font-family: 'Courier New', Courier, monospace; font-size: small; width:100%; height:100px"></textarea>
            <div class="copyButton">
                <button onclick="toClipBoard('pLienDiv','myTooltip')" onmouseout="outFunc('myTooltip')"><span class="copyButtonText" id="myTooltip">Copier</span>Copier</button>
            </div>
            <div class="copyButton">
                <button onclick="document.getElementById('pLienDivCode').style.display = 'block';">Code Source</button>
            </div>

            <div id="pLienDivWhite" contenteditable="true" class="pLienDiv" style="-webkit-text-stroke-width: 0.5px;-webkit-text-stroke-color: #000000;"></div>
            <textarea id="pLienDivWhiteCode" style="display: none; font-family: 'Courier New', Courier, monospace; font-size: small; width:100%; height:100px"></textarea>
            <div class="copyButton">
                <button onclick="toClipBoard('pLienDivWhite', 'myTooltipWhite')" onmouseout="outFunc('myTooltipWhite')"><span class="copyButtonText" id="myTooltipWhite">Copier</span>Copier</button>
            </div>
            <div class="copyButton">
                <button onclick="document.getElementById('pLienDivWhiteCode').style.display = 'block';">Code Source</button>
            </div>
        </div>
        <div class="modal-footer">
            <h3>GrammaChrome</h3>
        </div>
        </div>
    </div>




    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="{% static 'js/POSexceptions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tags.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/textExamples.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/addStat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/posTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/customColor.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/coloriser.js' %}"></script>
</body>
</html>