{% load static %}
<footer>
    <div style="font-size: 20pt;"><a href="https://alem.hypotheses.org/category/tutoriels/tutoriels-grammachrome" target="_blank"><span id="sp_tuto" class="langspan"></span></a></div>
    <div>S.Coulange, {{updateTime}} | 
    <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/grammacolor"><span id="sp_footcode" class="langspan"></span></a>
     - <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/grammacolor/commits/master"><span id="sp_footjournal" class="langspan"></span></a>
    </div>
    <div class="licence-div">
        <div><span id="sp_footlicence" class="langspan"></span></div>
        <div><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International"><img height="30px" src="{% static 'im/cc-by-nc-sa.png' %}" title="Attribution-NonCommercial-ShareAlike 4.0 International" class="licence-element licence-img"/></a></div>
        <div><span id="sp_footSpaCy" class="langspan"></span><a href="https://spacy.io/"> SpaCy</a>, <a href="https://taku910.github.io/mecab/">MeCab</a></div>
    </div>
</footer> 