{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrammaColor</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'wikicolor.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>

    <h1>GrammaColor (proto)</h1>
    <h2>Activités</h2>

    <div class="divConsigne">
        <p>Pointez la phrase que vous entendez</p>
    </div>
    


    <script type="text/javascript" src="{% static 'js/colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/coloriser.js' %}"></script>
</body>
</html>