:root {
    --tokenmargin: 20px 0px;
}

@font-face {
    font-family: 'kaitiregular';
    src: url('../fonts/simkai-webfont.woff2') format('woff2'),
         url('../fonts/simkai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.preprod {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2em;
    font-weight: bolder;
    color: red;
    border: 5px solid red;
}

.choixLang {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
}

body {
    background-image: url(../im/arriereplan.gif);
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Palatino, Times, kaitiregular, Calibri;
    font-size: 14pt;
    text-align: center;
    padding: 0px;
}

h1 {
    font-size: 3em;
}

h2 {
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}

.contours {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

button {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: gray 1px 1px 1px;
	margin: 5px;
    padding: 2px 18px;
}



/* PARAMETRAGES */

.outputParam {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px;
}
.outputParam svg {
    cursor: pointer;
    padding: 0px;
    width: 25px;
}

.btntags {
    border: 1px solid transparent;
}

.btnzi {
    width: 25px;
    cursor: pointer;
    margin: auto;
}

.btnActive {
    border: 1px solid darkgreen;
    border-radius: 3px;
}


.divInfo {
    margin: 20px auto;
    max-width: 1000px;
    font-size: 1em;
    font-style: italic;
}



.header {
    font-size: 12pt;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.inputDiv {
    display: inline-table;
    height: 100px;
    width: 80%;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: relative;
}

.inText {
    width: 95%;
    height: 120px;
    margin: 5px;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 4px;
}

.param {
    position: relative;
    text-align: right;
    margin-top: -15px;
}

.inputDiv h2 {
    text-align: left;
}

.outputMainDiv {
    height: 250px;
    width: 80%;
    text-align: left;
    position: relative;
}

.outText {
    display: inline-table;
    height: auto;
    width: 97%;
    padding: 10px;
    margin: auto;
    text-align: left;
    font-size: 35pt;
}

.outputBold {
    font-weight: bold;
}

.tokenborder {
    border: 1px solid transparent;
    border-radius: 5px;
    padding-top: 10px;
}
.tokenborder:hover {
    border: 1px solid rgba(146, 146, 146, 0.863);
    border-radius: 5px;
    padding-top: 10px;
}

.token {
    margin: var(--tokenmargin);
}

.win-black {
    position: relative;
    display: inline-table;
    background-color: black;
    color: white;
    border: solid 2px darkgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.win-white {
    background-color: white;
    color: black;
}




/* FOOTER */

footer {
    margin-top: 20px;
    font-style: italic;
    font-size: 12pt;
}

.licence-div {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* étale les items sur la largeur */
    justify-content: center;
    align-items: center; /* alignement vertical des items */
    font-size: 12pt;
}
.licence-div div {
    margin: 3px 5px;
}


.roundButton {
    border:1px solid transparent;
    border-radius:50%;
    font-size: 2em;
    line-height: .6em;
    padding: 5px;
}

.myAccordion-btn {
    width:max-content;
    margin: auto;
    padding: 10px 15px;
}

.colorSetting {
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

.form-check-input:checked {
    background-color: rgb(82, 82, 82);
}

.phonTableTd {
    text-align: left;
}

[class*="custphon"] {
    width: max-content;
    margin: auto;
    display: inline-flex;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

th td {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
th {
    background-color: lightblue;
    border: solid 1px black;
    text-align: center;
    font-style: italic;
}
td {
    text-align: left;
    background: none;
    border: lightblue 1px solid;
}
tr:hover {
    background-color: lightcyan;
}